<div class="area-config">
  <p-confirmDialog />
  <div class="titulo">
    <h1>Configuração de Notificações</h1>
    <i class="pi pi-arrow-left btn-seta" [routerLink]="['']"></i>
  </div>
  <form
    [formGroup]="horariosForm"
    class="estilo-forms alertas"
    (ngSubmit)="confirmarDados($event)"
  >
    <div class="card flex justify-content-center">
      <input type="time" pInputText formControlName="inicioExpediente" />
      <span
        *ngIf=" horariosFormControl.inicioExpediente.touched
                && horariosFormControl.inicioExpediente.errors?.['required']"
      >
        Campo obrigatório!
      </span>
    </div>
    <div class="card flex justify-content-center">
      <input type="time" pInputText formControlName="inicioIntervalo" />
      <span
        *ngIf=" horariosFormControl.inicioIntervalo.touched
                && horariosFormControl.inicioIntervalo.errors?.['required']"
      >
        Campo obrigatório!
      </span>
    </div>
    <div class="card flex justify-content-center">
      <input type="time" pInputText formControlName="fimIntervalo" />
      <span
        *ngIf=" horariosFormControl.fimIntervalo.touched
                && horariosFormControl.fimIntervalo.errors?.['required']"
      >
        Campo obrigatório!
      </span>
    </div>
    <div class="card flex justify-content-center">
      <input type="time" pInputText formControlName="fimExpediente" />
      <span
        *ngIf=" horariosFormControl.fimExpediente.touched &&
                horariosFormControl.fimExpediente.errors?.['required']"
      >
        Campo obrigatório!
      </span>
    </div>
    <button
      type="submit"
      pButton
      pRipple
      label="Enviar"
      class="p-button-primary"
    ></button>
  </form>
</div>
