<div class="titulo">
  <div [routerLink]="['']">
    <i class="pi pi-angle-left"></i>
    <span>Voltar</span>
  </div>
  <h1>Configuração de Horários</h1>
</div>
<br>
<div class="config-pagina">
  <div class="caixa-calculadora">
    <p-toast />
    <p-confirmDialog />
    <form
      class="estilo-forms alertas"
      [formGroup]="horariosForm"
      (ngSubmit)="confirmarDados($event)"
    >
      <div>
        <p-dropdown
          styleClass="dropdown-config"
          formControlName="cargaHorariaSelecionada"
          [options]="cargasHorarias"
          optionLabel="valor"
          placeholder="Selecione sua carga horaria"
        />
        <span
          *ngIf=" horariosFormControl.cargaHorariaSelecionada.touched
                && horariosFormControl.cargaHorariaSelecionada.errors?.['required']"
        >
          Campo obrigatório!
        </span>
      </div>
        <p-inputGroup>
          <p-inputGroupAddon class="form-input"
            >Inicio Expediente</p-inputGroupAddon
          >
          <input type="time" pInputText formControlName="inicioExpediente" />
        </p-inputGroup>
        <span
          *ngIf=" horariosFormControl.inicioExpediente.touched
                && horariosFormControl.inicioExpediente.errors?.['required']"
        >
          Campo obrigatório!
        </span>
        <p-inputGroup>
          <p-inputGroupAddon class="form-input"
            >Inicio Intevalo</p-inputGroupAddon
          >
          <input type="time" pInputText formControlName="inicioIntervalo" />
        </p-inputGroup>
        <span
          *ngIf=" horariosFormControl.inicioIntervalo.touched
                && horariosFormControl.inicioIntervalo.errors?.['required']"
        >
          Campo obrigatório!
        </span>
        <p-inputGroup>
          <p-inputGroupAddon class="form-input">Fim Intevalo</p-inputGroupAddon>
          <input type="time" pInputText formControlName="fimIntervalo" />
        </p-inputGroup>
        <span
          *ngIf=" horariosFormControl.fimIntervalo.touched
                && horariosFormControl.fimIntervalo.errors?.['required']"
        >
          Campo obrigatório!
        </span>
        <p-inputGroup>
          <p-inputGroupAddon class="form-input"
            >Fim Expediente</p-inputGroupAddon
          >
          <input type="time" pInputText formControlName="fimExpediente" />
        </p-inputGroup>
        <span
          *ngIf=" horariosFormControl.fimExpediente.touched &&
                horariosFormControl.fimExpediente.errors?.['required']"
        >
          Campo obrigatório!
        </span>
      <app-notification-front></app-notification-front>
      <button
        type="submit"
        pButton
        pRipple
        [label]="reqAlertaExiste ? 'Atualizar' : 'Enviar'"
        class="p-button-primary"
      ></button>
    </form>
  </div>
  <figure>
    <img src="horaConfigFigura.svg" alt="horaConfigFigura" width="90%">
  </figure>
</div>
