<div class="caixa-calculadora">
  <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <app-calc-result-dialog></app-calc-result-dialog>
  </p-dialog>
  <div class="titulo">
    <i class="pi pi-clock"></i>
    <h1>Calculadora de Horas</h1>
    <i class="pi pi-clock"></i>
  </div>
  <form class="form-config" action="">
    <p-inputGroup >
      <p-inputGroupAddon class="form-input">Entrada</p-inputGroupAddon>
      <input
        id="entrada"
        type="time"
        pInputText
        name="entrada"
        [(ngModel)]="calcFormData.entrada"
      />
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon class="form-input">Inicio do Intervalo</p-inputGroupAddon>
      <input
        id="inicioInt"
        type="time"
        pInputText
        name="inicioIntervalo"
        [(ngModel)]="calcFormData.inicioIntervalo"
      />
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon class="form-input">Fim do Intervalo</p-inputGroupAddon>
      <input
        id="fimInt"
        type="time"
        pInputText
        name="fimIntervalo"
        [(ngModel)]="calcFormData.fimIntervalo"
      />
    </p-inputGroup>
    <!-- <input
      id="fimInt"
      type="text"
      pattern="{{ timeRegex }}"
      pInputText
      name="fimIntervalo"
      [(ngModel)]="calcFormData.fimIntervalo"
      placeholder="Fim do Intervalo (00:00)"
    /> -->
  </form>
  <div class="btn-caixa">
    <p-button severity="success" (onClick)="calcularHoraio()"
      >Calcular</p-button
    >
    <p-button severity="secondary" (onClick)="cancelarOperacao()"
      >Cancelar</p-button
    >
  </div>
</div>
