:host ::ng-deep .dropdown-config{
  width:  -webkit-fill-available;
}

.btn-caixa {
  display: flex;
  gap: 5px;
  margin-top: 7vh;
  min-width: 100%;
  justify-content: space-evenly;
}

.btn-config{
  font-size: 1.5rem;
}
.btn-config:hover{
  cursor: pointer;
  color: #3B82F6;
}

.caixa-calculadora {
  min-width: 26vw;
  min-height: 56vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(227, 225, 235);
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  padding: 15px;

}



.form-config{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;


  gap: 2vh;
}
.form-input{
  min-width: 58%;
}

.titulo{
  display: flex;
  align-items: center;
  gap: 10px;
}
