<div class="caixa-calculadora">
  <div class="titulo">
    <i class="pi pi-clock"></i>
    <h1>Calculadora de Horas</h1>
    <i class="pi pi-clock"></i>
  </div>
  <form class="form-config" action="">
    <input
      class="form-btn"
      type="text"
      pattern={{timeRegex}}
      pInputText
      name="entrada"
      [(ngModel)]="calcFormData.entrada"
      placeholder="Entrada (00:00)" />
    <input
      class="form-btn"
      type="text"
      pattern={{timeRegex}}
      pInputText
      name="inicioIntervalo"
      [(ngModel)]="calcFormData.inicioIntervalo"
      placeholder="Inicio do intervalo (00:00)" />
    <input
      class="form-btn"
      type="text"
      pattern={{timeRegex}}
      pInputText
      name="fimIntervalo"
      [(ngModel)]="calcFormData.fimIntervalo"
      placeholder="Fim do Intervalo (00:00)" />
  </form>
  <div class="btn-caixa">
    <p-button  severity="success" (onClick)="calcularHoraio()">Calcular</p-button>
    <p-button  severity="secondary" (onClick)="cancelarOperacao()">Cancelar</p-button>
  </div>
</div>
