.horas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horas-texto{
  font-size: 80px;
  font-weight: bold;
}

.horas-alerta{
  padding: 5px;

  font-size: 2rem;
  color: red;
  font-weight: bold;
  text-align: center;
}
