
figure{
  width: 2rem;
  height: 2rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #365cad;
  border-radius: 50%;
}
figure > i{
  color: white;
}

p {
  margin: 0;
  font-weight: bold;
  color: #365cad;
}

.app-header > div{

  width: 95vw;
  height: fit-content;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

}
