@import '../calculadora/calculadora.component.css';

::ng-deep .p-inputgroup {
  justify-content: flex-end;
}

.pagina-corpo{
  width: 95vw;

  display: flex;
  flex-direction: column;

  align-items: center;
}
