<div class="pagina-corpo">
  <div class="titulo">
    <div [routerLink]="['']">
      <i class="pi pi-angle-left"></i>
      <span>Voltar</span>
    </div>
    <h1>Gerência de Usuários</h1>
  </div>
  <figure>
    <img src="admUserEditionFigure.svg" alt="userEditorFigure" width="100%" />
  </figure>

  <p-table
    #dt2
    [value]="allUsers"
    dataKey="id"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 25]"
    [paginator]="true"
    [globalFilterFields]="[
      'eMail',
      'name',
      'surename',
      'workplace'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-inputGroup>
          <p-inputGroupAddon class="form-input">
            <i class="pi pi-search"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            type="text"
            (input)="filterInput($event)"
            placeholder="Palavra Chave"
          />
        </p-inputGroup>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="eMail">E-mail<p-sortIcon field="eMail" /></th>
        <th pSortableColumn="name">Name<p-sortIcon field="name" /></th>
        <th pSortableColumn="surename">Sobrenome<p-sortIcon field="surename" /></th>
        <th pSortableColumn="workplace">Local de Trabalho<p-sortIcon field="workplace" /></th>
        <th>Opções</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-allUsers>
      <tr>
        <td>{{ allUsers.eMail }}</td>
        <td>{{ allUsers.name }}</td>
        <td>{{ allUsers.surename }}</td>
        <td>{{ allUsers.workplace }}</td>
        <td><i class="pi pi-pencil"></i></td>
      </tr>
    </ng-template>
  </p-table>
</div>
